
*, *::before, *::after {
  box-sizing: inherit;
}


.text {
 border-bottom: 5px solid #151515;
 border-top: 5px solid #151515;
 text-align: center;
 letter-spacing: 5px;
 width: 30%;
 margin-top: 20px;
 margin-left: auto;
 margin-right: auto;
 font-family: 'Alata', sans-serif;
 margin-top: 10rem;
}

body{
  background-color: #DCC634;
}

.second-text{
  text-align: center;
  letter-spacing: 5px;
  width: 30%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Alata', sans-serif;
}
